.alert {
    position: absolute;
    display: block;
    animation: fadeOut 5s linear forwards;
    z-index: 999999;
}

@keyframes fadeOut {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(-30px);}
    100% { opacity: 0; }
}
